# The versions are not specified since SCOPE should be compatible with most versions of the packages.
# If incompatibilities are found, consider upgrading to latest versions or installing the following recommended version of the package.
torch           # >= 2.0.0
torchvision
accelerate
opencv-python-headless
click
scipy           # ==1.14.1
matplotlib      # ==3.9.2
trimesh         # ==4.5.1
pillow          # ==10.4.0
huggingface_hub # ==0.25.2
numpy == 1.26.1
tensorboard
sympy
mlflow
h5py
pyquaternion
easydict
einops
OpenEXR
Imath
decord
# Optional acceleration when available:
# xformers
# git+https://github.com/EasternJournalist/utils3d.git@3913c65d81e05e47b9f367250cf8c0f7462a0900 
